<!------ Include the above in your HEAD tag ---------->

<div class = "container">
	<div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Ingresar a TexTiles.exe</h3>
			  <hr class="colorgraph"><br>
				<div>
					<input type="text" class="form-control" name="Username" placeholder="Nombre Usuario" required="" autofocus="" />
				</div>
				<div>
			  	<input type="password" class="form-control" name="Password" placeholder="Contraseña" required=""/>
				</div>
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Ingresar</button>
				<div class="help-block text-right"><a href="/ForgotUpsw">¿Olvidaste la contraseña?</a></div>
<!---card y card_body para crear botones de inisio fb tw y g--->
		</form>
	</div>
</div>
