<div class="col-lg-12 form-group margin50">
  <label class="col-lg-2"  for="Name">numero de la cuenta</label>
  <div class="col-lg-4">
    <input type="number" id="name" name="Name" placeholder="" class="form-control name">
  </div>
</div>

<div class="col-lg-12 form-group margin50">
  <label class="col-lg-2"  for="Name">cantidad a pagar</label>
  <div class="col-lg-4">
    <input type="number" id="name" name="Name" placeholder="" class="form-control name">
  </div>
</div>

<div class="col-lg-12 form-group margin50">
  <label class="col-lg-2"  for="Name">dueño de la cuenta: </label>
  <div class="col-lg-4">
    <input type="number" id="name" name="Name" placeholder="" class="form-control name" readonly="readonly">
  </div>
</div>

<div class="col-lg-12 form-group margin50">
  <label class="col-lg-2"  for="Name">cantidad faltante: </label>
  <div class="col-lg-4">
    <input type="number" id="name" name="Name" placeholder="" class="form-control name" readonly="readonly">
  </div>
</div>

<div class="col-lg-12 form-group margin50">
  <label class="col-lg-2"  for="Name">fecha de ultimo pago: </label>
  <div class="col-lg-4">
    <input type="number" id="name" name="Name" placeholder="" class="form-control name" readonly="readonly">
  </div>
</div>
