

  <div class="form-group row" style ="text-align:center">
    <label  class="col-sm-2 col-form-label"><h1>Ventas</h1></label>
  </div>

  <br/>

  <div id ="sproducto"class="form-group row">
    <label for="inputnombreproducto" class="col-sm-2 col-form-label">Nombre producto</label>
    <div class="col-sm-6">
      <input type="name" class="form-control" id="inputnombreproducto" >
    </div>
  </div>
  <div id ="scantidad" class="form-group row">
    <label for="inputcantidad" class="col-sm-2 col-form-label">cantidad</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="inputcantidad" >
    </div>
  </div>

  <div id ="sfecha" class="form-group row">
    <label for="inputfecha" class="col-sm-2 col-form-label">fecha</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="inputfecha" placeholder="dd/mm/yy" >
    </div>
  </div>

  <div id ="stipoventa" class="form-group row">
    <label for="inputtipov" class="col-sm-2 col-form-label">tipo de venta</label>
    <div class="col-sm-2">
      <select type="name" class="form-control" id="inputtipov" placeholder="-select-" >
        <option value="first">-select-</option>
        <option value="second">fiado</option>
        <option value="third">totalidad</option>
      </select>
    </div>

    <div id ="sestadop" class="form-group row">
      <label for="inputestadop" class="col-sm-2 col-form-label">estado de pago</label>
      <div class="col-sm-2">
        <select type="name" class="form-control" id="inputtipov" placeholder="-select-" >
          <option value="first">-select-</option>
          <option value="second">debe</option>
          <option value="third">cancelado</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" >Agregar producto</button>
      </div>
    </div>



<div  id ="tabl" class="form-group row" >
  <table  style ="margin: 0 auto;" border="1" bordercolor="#0000FF"  class ="table table-bordered"   >
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">producto</th>
        <th scope="col">preciounitario</th>
        <th scope="col">total de la venta</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
<div class="col-lg-6">
  <input type="submit" id="addPro" value="realizar venta" class="form-control addPro w3-green" >
</div>
