<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--- Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <footer>
     <div class="container">
       <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul class="adress">
                         <span>Adress</span>
                         <li>
                            <p>steven chacon</p>
                          </li>

                          <li>
                            <p>elisa tamayo</p>
                          </li>

                          <li>
                            <p>jesus alberto</p>
                          </li>
                     </ul>
                </div>

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <ul class="contact">
                         <span>Contact</span>
                         <li>
                            <a href="#">Home</a>
                          </li>

                          <li>
                             <a href="#">About</a>
                          </li>

                          <li>
                            <a href="#">Blog</a>
                          </li>
                    </ul>
                </div>



                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-8">
                   <ul class="social">
                              <span>Social</span>
                               <li>
                                    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                               </li>

                               <li>
                                    <a href="#"><i class="fa fa-github fa-2x"></i></a>
                               </li>

                               <li>
                                    <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                               </li>

                               <li>
                                    <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
                               </li>

                               <li>
                                    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                              </li>

                     </ul>
               </div>


           </div>
        </div>
    </footer>
