<footer>
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-5 col-sm-5">
        <ul class="adress"><span>Integrantes</span>
          <li><p>Steven Chacon Ibargue</p></li>
          <li><p>Elisa Tamayo Ramirez</p></li>
          <li><p>Jesus Alberto Ospina</p></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-5">
        <ul class="contact"><span>Contactenos</span>
          <li><p>pipep22@gmail.com</p></li>
          <li><p>elisaatrz@gmail.com</p></li>
          <li><p>jesus.199201@hotmail.com</p></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
