body{
    font-family:Roboto;
}

footer{
     background-color: #DCDCDC;
     padding:25px 0px;
}

footer .fa:hover{
   color:#675f5f;
}

.adress span , .contact span , .header-form{
   color:#675f5f;
   font-weight: 800;
   padding-top:20px;
   padding-bottom:20px;
   display: block;
   text-transform: uppercase;
   font-size: 15px;
   letter-spacing: 3px;
}

.adress li p , .contact li p {
    color:#675f5f;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:13px;
}

.adress, .contact{
    list-style: none;
}
