<form>
  <div class="container-fluid">
    <div class="col col-md-12">

      <!-- Top 10 de productos más vendidos -->
      <div class="col col-md-5">
        <h4>Top 10 de productos más vendidos:</h4><br>
        Tejido mejicano<span class="pull-right strong">+ 90mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:90%">90mt</div>
        </div>
        Pique algodón galleta<span class="pull-right strong">+ 86mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:86%">86mt</div>
        </div>
        Tejido de lana<span class="pull-right strong">+ 78mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">78mt</div>
        </div>
        Tejido de lana<span class="pull-right strong">+ 69mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">69mt</div>
        </div>
        Tejido de lana<span class="pull-right strong">+ 60mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">60mt</div>
        </div>
        Tejido de lana<span class="pull-right strong">+ 53mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">53mt</div>
        </div>
        Tejido de lana<span class="pull-right strong">+ 47mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">47mt</div>
        </div>
        Tejido de lana<span class="pull-right strong">+ 45mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">45mt</div>
        </div>
        Tejido de lana<span class="pull-right strong">+ 42mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">42mt</div>
        </div>
        Tejido de lana<span class="pull-right strong">+ 38mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">38mt</div>
        </div>
      </div>

      <!-- Top 10 de productos que dejan más utilidad y han sido vendidos -->
      <div class="col col-md-5">
        <h4>Top 10 de productos Menos vendidos:</h4><br>
        Tejido mejicano<span class="pull-right strong">$ 900.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:90%">900.000</div>
        </div>
        Pique algodón galleta<span class="pull-right strong">$ 860.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:86%">860.000</div>
        </div>
        Tejido de lana<span class="pull-right strong">$ 780.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">780.000</div>
        </div>
        Tejido de lana<span class="pull-right strong">$ 690.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">690.000</div>
        </div>
        Tejido de lana<span class="pull-right strong">$ 600.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">600.000</div>
        </div>
        Tejido de lana<span class="pull-right strong">$ 530.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">530.000</div>
        </div>
        Tejido de lana<span class="pull-right strong">$ 470.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">470.000</div>
        </div>
        Tejido de lana<span class="pull-right strong">$ 450.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">450.000</div>
        </div>
        Tejido de lana<span class="pull-right strong">$ 420.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">420.000</div>
        </div>
        Tejido de lana<span class="pull-right strong">$ 380.000</span>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">380.000</div>
        </div>
      </div>

      <!-- Cuánto dinero ha ganado en un día, en un mes y en un año. -->
      <div class="col col-md-5">
        <h4>El producto menos vendido en el Dia:</h4>
        <input type="text" id="date" name="Date" placeholder="MM/DD/YYYY" class="form-control date">
        Visits<span class="pull-right strong">+ 57mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="45"aria-valuemin="0" aria-valuemax="100" style="width:45%">57mt</div>
        </div>
        <h4>El producto menos vendido en el Mes:</h4>
        <input type="text" id="date" name="Date" placeholder="MM/DD/YYYY" class="form-control date">
        Visits<span class="pull-right strong">+ 57mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="45"aria-valuemin="0" aria-valuemax="100" style="width:45%">57mt</div>
        </div>
        <h4>El producto menos vendido en el año:</h4>
        <input type="text" id="date" name="Date" placeholder="MM/DD/YYYY" class="form-control date">
        Visits<span class="pull-right strong">+ 57mt</span>
        <div class="progress">
          <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="45"aria-valuemin="0" aria-valuemax="100" style="width:45%">57mt</div>
        </div>
      </div>

    </div>
  </div>
</form>
