<header>
		<div class="menu_bar">
			<a href="#" class="bt-menu"><span class="icon-list2"></span>Menú</a>
		</div>

		<nav>
			<ul>
				<li><a href="#"><span class="icon-house"></span>Inicio</a></li>
				<li class="submenu">
					<a><span class="icon-rocket"></span>Vendedor<span class="caret icon-arrow-down6"></span></a>
					<ul class="children">
						<li><a href="/Ventas">Vender<span class="icon-dot"></span></a></li>
						<li><a href="/consDeudas">Consultar Deudas<span class="icon-dot"></span></a></li>
					</ul>
				</li>
        <li class="submenu">
					<a><span class="icon-rocket"></span>Analista<span class="caret icon-arrow-down6"></span></a>
					<ul class="children">
						<li><a href="/ProductForm">Nuevo Producto<span class="icon-dot"></span></a></li>
						<li><a href="/Supplier">Nuevo Proveedor<span class="icon-dot"></span></a></li>
            <li><a href="/Estadisticas">Estadisticas<span class="icon-dot"></span></a></li>
					</ul>
				</li>
        <li><a href="#"><span class="icon-house"></span>Cerrar Sesion</a></li>
			</ul>
		</nav>
	</header>
