<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <!-- Titulo y descripcion -->
    <h3>Agregar Nuevo Proveedor</h3>

    <!-- Nombre del Proveedor -->
    <div class="col-lg-12 form-group margin50">
      <label class="col-lg-2"  for="Name">Proveedor</label>
      <div class="col-lg-4">
        <input type="text" id="name_pro" name="Name_pro" placeholder="Nombre del proveedor" class="form-control name_pro">
      </div>
    </div>

    <!-- Codigo RUC proveedor -->
    <div class="col-lg-12 form-group">
      <label class="col-lg-2"  for="Cod_pro">RUC</label>
      <div class="col-lg-2">
        <input type="number" id="ruc" name="Ruc" placeholder="0000000-0" class="form-control ruc">
      </div>
    </div>

    <!-- Telefono Proveedor -->
    <div class="col-lg-12 form-group">
      <label class="col-lg-2"  for="Telefono">Teléfono</label>
      <div class="col-lg-2">
        <input type="tel" id="telefono" name="Telefono" placeholder="+57 0000000" class="form-control telefono">
      </div>
    </div>

    <!-- Correo del Proveedor -->
    <div class="col-lg-12 form-group">
      <label class="col-lg-2"  for="Correo">Correo Electronico</label>
      <div class="col-lg-4">
        <input type="email" id="correo" name="Correo" placeholder="correo@ejemplo.com" class="form-control correo">
      </div>
    </div>

    <!-- Direccion del Proveedor -->
    <div class="col-lg-12 form-group">
      <label class="col-lg-2"  for="Direccion">Dirección</label>
      <div class="col-lg-4">
        <input type="text" id="direccion" name="Direccion" onkeyup="sync()" class="form-control direccion">
      </div>
    </div>

    <!-- Ciudad del Proveedor -->
    <div class="col-lg-12 form-group">
      <label class="col-lg-2"  for="Ciudad">Ciudad</label>
      <div class="col-lg-4">
        <select id="ciudad" name="Ciudad" class="form-control ciudad">
            <option value="0">-Select-</option>
            <option>Tuluá</option>
            <option>Cali</option>
            <option>Palmira</option>
        </select>
      </div>
    </div>

    <!-- Pais del Proveedor -->
    <div class="col-lg-12 form-group">
      <label class="col-lg-2"  for="Pais">País</label>
      <div class="col-lg-4">
        <select id="pais" name="Pais" class="form-control pais">
            <option value="0">-Select-</option>
            <option>Colombia</option>
            <option>Ecuador</option>
            <option>Peru</option>
        </select>
      </div>
    </div>

    <div>
      <div class="col-lg-4">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Limpiar</button>
        <button type="button" class="btn btn-success">Listar Proveedores</button>
      </div>
    </div>

  </fieldset>
</form>
